#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.cutting-board-image {
	margin: 1rem;
	width: 30rem;
	max-width: 95%;
	height: auto;
	border: 3px solid rgba(121, 121, 121, 0.7);
	border-radius: 1rem;
}
